<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listtitle %></h1>
</div>

<div class="box">

  <% listitem.forEach(function(item){ %>
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
        <p><%= item.name %></p>
      </div>
      <input type="hidden" name="listName" value="<%= listtitle %>"></input>
    </form>
  <% }); %>
  <form class="item" action="/" method="post">
    <input type="text" name="val" placeholder="New Item" autocomplete="off">
    <button type="submit" name="Hitme" value="<%= listtitle %>">+</button>
  </form>
</div>

<%- include("footer") -%>
